* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar {
    display: flex;
    padding: 47px 95px;
}

.nav-left {
    flex: 2;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 3;
    color: #2F2E2E;
    text-align: center;
    font-size: 20px;
}

.nav-right p {
    cursor: pointer;
}

.nav-right :hover {
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

.main-wrap {
    padding-top: 135px;
    background-image: url("./assets/archiwebimages.svg");
    height: 779px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.main-wrap3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-top: 50px;
    width: 691px;
    height: 550px;
    background: linear-gradient(91deg, rgba(244, 246, 245, 0.90) -7.89%, rgba(255, 255, 255, 0.90) 132.55%);
}

.main-wrap3 p {
    width: 390px;
    color: #2F2E2E;
    font-size: 32px;
    padding-bottom: 139pxss;
}

.main-wrap3 h1 {
    padding-bottom: 10px;
    color: #2F2E2E;
    font-size: 51px;
    width: 450px;
}

.menu-service {
    display: flex;
    flex-direction: column;
    background-color: rgba(37, 77, 77, 0.20);
    width: 100%;
    height: 384px;

}

.service-menu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.service-elements {
    display: flex;
    color: black;
    justify-content: space-evenly;
    text-align: center;
    font-size: 35px;
}

.about-us-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
    padding-top: 180px;
    padding-left: 85px;

}

.about-us-right p {
    width: 400px;
    font-size: 31px;
}

.about-us {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF;
    height: 599px;
}

.about-us-left {
    flex: 1;
}

.Our-projects {
    height: 700px;
    background-color: #FFF;
}

.Our-project-left-righ {
    display: flex;

}

.our-project-left {
    padding-left: 100px;
    flex: 2;
}

.our-project-right {
    padding-right: 99px;
    display: flex;
    justify-content: space-evenly;
    border: 1px sdolid black;
    flex: 3;
}

.our-project-right :hover {
    background-color: aliceblue;
}

.project-imgs {
    padding-left: 100px;
    padding-top: 50px;
    height: 800px;
    justify-content: space-evenly;
}

.project-images {
    display: flex;
    justify-content: space-evenly;
    height: 193px;
    gap: 150px;
}

.project-imgs img {
    justify-content: space-evenly;
    width: 344px;
    height: 193px;
}

.project-element {
    display: flex;
    justify-content: space-evenly;
    gap: 220px;
}

.project-imgs p {
    width: 200px;
    text-align: center;

}

.project-element1 {
    padding-top: 86px;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    height: 600px;
}

.testimonial-1 {
    display: flex;
    flex: 1;
}

.testimonial-2 {
    padding-top: 91px;
    padding-left: 130px;
}

.testimonial-3 {
    display: flex;
    flex: 1;
}

.testimonial-4 {
    padding-top: 91px;
    padding-left: 130px;
}

.testimonial-img {
    padding-top: 78px;
    padding-left: 100px;
    width: 151px;
    height: 151px;
}

.fuder-wrap {
    width: 100%;
    height: 500px;
    background-color: #2F2E2E;
    color: #FFFFFF
}

.fuder {
    padding: 47px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}























/* .fuder {
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color: #2E2F32;
    color: #FAFAFA;

}

.fuder-menu div {
    display: flex;
    justify-content: space-evenly;
    gap: 400px;
    padding-left: 100px;
    padding-top: 47px;
} */

/* .fuder-menu div p {
    padding-top: 17px;
}

.fuder-menus {
    padding-top: 10px;
    padding-left: 200px;
    display: flex;
    gap: 300px;
}

.fuder-images {
    padding-left: 200px;
    gap: 70px;

}

.fuder-images img {
    gap: 70px;
} */